/* Bourbon-libsass 1.0.0
 * http://bourbon.io
 * Copyright 2011-2014 thoughtbot, inc.
 * MIT License */
/* Miscellaneous */
/* COLORS */
/* BODY STYLES */
/* BlOCK COLOURS */
/* Font Properties */
body {
  font-family: "Hind", sans-serif;
  font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
  background: #FFFFFF;
  font-size: 0.9375em;
  line-height: 150%;
  margin: 0; }

a {
  color: #333; }
  a:hover {
    color: #012561; }

a.button:hover, a.button-small:hover {
  color: #FFFFFF; }

ul, ol {
  margin-left: 0; }
  ul li, ol li {
    margin-left: 0; }

.content {
  background: white; }

img {
  max-width: 100%; }

a,
a:hover {
  text-decoration: none; }

h2 {
  color: #333; }

h3 {
  color: #333; }

h1, h2, h3, h4, h5 {
  line-height: 120%;
  font-weight: normal; }

cite {
  display: block;
  margin-bottom: 1em; }

.cards__wrapper .card {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto; }
  .cards__wrapper .card:after {
    content: " ";
    display: block;
    clear: both; }
  @media (min-width: 600px) {
    .cards__wrapper .card {
      width: 48.93617%;
      float: left; }
      .cards__wrapper .card:nth-child(2n + 1) {
        margin-left: 0;
        margin-right: -100%;
        clear: both;
        margin-left: 0; }
      .cards__wrapper .card:nth-child(2n + 2) {
        margin-left: 51.06383%;
        margin-right: -100%;
        clear: none; } }
  @media (min-width: 1025px) {
    .cards__wrapper .card {
      width: 23.40426%;
      float: left; }
      .cards__wrapper .card:nth-child(4n + 1) {
        margin-left: 0;
        margin-right: -100%;
        clear: both;
        margin-left: 0; }
      .cards__wrapper .card:nth-child(4n + 2) {
        margin-left: 25.53191%;
        margin-right: -100%;
        clear: none; }
      .cards__wrapper .card:nth-child(4n + 3) {
        margin-left: 51.06383%;
        margin-right: -100%;
        clear: none; }
      .cards__wrapper .card:nth-child(4n + 4) {
        margin-left: 76.59574%;
        margin-right: -100%;
        clear: none; } }

.page-header .page-header__inner {
  padding: 1em 1em 0;
  text-align: center; }
  .page-header .page-header__inner:after {
    content: "";
    display: table;
    clear: both; }

.page-header .website-logo {
  display: block; }

@media (min-width: 600px) {
  .page-header .page-header__left {
    width: 48.93617%;
    float: left;
    margin-right: 2.12766%; } }

@media (min-width: 600px) {
  .page-header .page-header__right {
    width: 48.93617%;
    float: right;
    margin-right: 0; } }

@media (min-width: 1025px) {
  .page-content__wrapper {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto; }
    .page-content__wrapper:after {
      content: " ";
      display: block;
      clear: both; } }

.page-content {
  display: block; }
  @media (min-width: 768px) {
    .page-content {
      width: 75%;
      float: left; } }

.page-aside {
  display: block; }
  @media (min-width: 768px) {
    .page-aside {
      width: 25%;
      float: right;
      margin-right: 0; } }

.page-content_inner {
  margin: 0 .5em; }
  .page-content_inner:after {
    content: " ";
    display: block;
    clear: both; }

.not-mobile__inline {
  display: none; }
  @media (min-width: 600px) {
    .not-mobile__inline {
      display: inline-block; } }

.mobile-only__inline {
  display: inline-block; }
  @media (min-width: 600px) {
    .mobile-only__inline {
      display: none; } }

.not-mobile__block {
  display: none; }
  @media (min-width: 600px) {
    .not-mobile__block {
      display: block; } }

.mobile-only__block {
  display: block; }
  @media (min-width: 600px) {
    .mobile-only__block {
      display: none; } }

.cards__wrapper {
  clear: both;
  margin-top: 2em; }
  .cards__wrapper:after {
    content: "";
    display: table;
    clear: both; }

.card {
  margin-bottom: 1em;
  border: 1px solid #999;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; }
  .card h3 {
    margin: 0;
    background-color: #555;
    background-image: -webkit-linear-gradient(bottom, #555, #F69222);
    background-image: linear-gradient(to top,#555, #F69222); }
    .card h3 a {
      color: white;
      margin: 0;
      padding: 0.5em;
      font-size: 1em;
      text-shadow: 1px 1px black;
      display: block; }
      .card h3 a:hover {
        color: white; }
  .card .card__copy {
    font-size: 0.9375em;
    padding: 0 0.5em 0.5em; }
    .card .card__copy p {
      margin: 0; }
    @media (min-width: 600px) {
      .card .card__copy {
        min-height: 6em; } }
  .card .card__image {
    text-align: center;
    padding: 1em; }
    .card .card__image i {
      color: #012561; }
    .card .card__image a {
      display: block; }
  .card:hover {
    -webkit-animation: bounceCards 0.5s;
    -moz-animation: bounceCards 0.5s;
    animation: bounceCards 0.5s; }

@-webkit-keyframes bounceCards {
  0% {
    transform: scale(1); }
  30% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }

@-moz-keyframes bounceCards {
  0% {
    transform: scale(1); }
  30% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }

@keyframes bounceCards {
  0% {
    transform: scale(1); }
  30% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }

.page-footer {
  background: #333;
  color: #999;
  font-size: 0.875em; }
  @media (min-width: 1025px) {
    .page-footer {
      font-size: 0.9375em; } }
  .page-footer .page-footer__inner {
    padding: 2em 1em;
    text-align: center; }
    @media (min-width: 600px) {
      .page-footer .page-footer__inner {
        text-align: left; } }
    @media (min-width: 600px) {
      .page-footer .page-footer__inner .page-footer__inner-left {
        width: 48.93617%;
        float: left;
        margin-right: 2.12766%; } }
    @media (min-width: 600px) {
      .page-footer .page-footer__inner .page-footer__inner-right {
        width: 48.93617%;
        float: right;
        margin-right: 0;
        text-align: right; } }
  .page-footer p {
    margin: 0;
    padding: 0;
    font-size: 0.875em; }
  .page-footer a.icon {
    display: inline-block;
    margin-right: 0.5em;
    color: #999; }

input,
select,
textarea {
  padding: .5em;
  border-radius: 5px;
  background: white;
  border: 1px solid #999;
  font-size: 1rem; }

textarea {
  padding: 0.5em;
  font-family: "Hind", sans-serif; }

.pill {
  display: inline-block;
  color: #FFFFFF;
  background: #012561;
  padding: .5em 1em;
  text-align: center;
  border: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; }

input[type="radio"] {
  margin-right: .5em; }

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 95%; }
  @media (min-width: 1024px) {
    input[type="text"],
    input[type="email"],
    input[type="password"] {
      width: auto;
      min-width: 60%; } }

textarea {
  width: 90%; }
  @media (min-width: 1024px) {
    textarea {
      width: auto;
      min-width: 60%; } }

.form-row {
  margin: 0 0 1em; }
  .form-row:after {
    content: "";
    display: table;
    clear: both; }
  .form-row label {
    display: block;
    margin-top: 0.75em; }
    @media (min-width: 1024px) {
      .form-row label {
        width: 31.91489%;
        float: left;
        margin-right: 2.12766%;
        display: inline-block; } }

.form-row.radios label {
  display: inline-block; }
  @media (min-width: 1024px) {
    .form-row.radios label {
      width: 48.93617%;
      float: left;
      margin-right: 2.12766%; } }

fieldset {
  border: 1px solid #999;
  margin-bottom: 0.5em; }

.radio-wrapper {
  padding-top: 0.5em; }

.mandatory {
  color: red;
  display: inline-block;
  margin: 0 0.5em; }

input.fieldError {
  border-color: red; }

.dropdown {
  margin: 0 0 1em; }

/* Contact Form Overides */
.contact-form fieldset {
  border: none; }

.contact-form label {
  margin-top: 0.75em; }
  @media (min-width: 1024px) {
    .contact-form label {
      width: 23.40426%;
      float: left;
      margin-right: 2.12766%; } }

/* Errors */
.form__error-message {
  color: red; }

@media (min-width: 1024px) {
  .form-block__forgot-password {
    max-width: 50%; } }

/* Qualifications Form */
.form-row.radio input[type="checkox"] {
  width: 14.89362%;
  float: left;
  margin-right: 2.12766%; }

.form-row.radio label {
  width: 82.97872%;
  float: right;
  margin-right: 0;
  margin-top: 0; }

.dropdown .ui-selectmenu-button.ui-button {
  width: 12em; }
  @media (min-width: 325px) {
    .dropdown .ui-selectmenu-button.ui-button {
      width: 13em; } }

.booking-date__multi {
  display: none; }

.radio-rows {
  padding-top: 0.75em; }

.form-block {
  background: #efefef;
  padding: 1em; }
  .form-block fieldset {
    border: none;
    border-bottom: 1px solid #999; }
    .form-block fieldset:last-child {
      border-bottom: none; }

.js-fade-element-hide {
  opacity: 0; }

.js-fade-element-show {
  opacity: 1;
  transition: all 0.4s ease-in-out; }

@-webkit-keyframes logoIn {
  0% {
    transform: scale(0.1);
    opacity: 0.1; }
  90% {
    opacity: 1; }
  100% {
    transform: scale(1); } }

@-moz-keyframes logoIn {
  0% {
    transform: scale(0.1);
    opacity: 0.1; }
  90% {
    opacity: 1; }
  100% {
    transform: scale(1); } }

@keyframes logoIn {
  0% {
    transform: scale(0.1);
    opacity: 0.1; }
  90% {
    opacity: 1; }
  100% {
    transform: scale(1); } }

@-webkit-keyframes headerRight {
  0% {
    position: relative;
    top: -100px;
    opacity: 0; }
  20% {
    top: 20px;
    opacity: 0.5; }
  100% {
    top: 0;
    opacity: 1; } }

@-moz-keyframes headerRight {
  0% {
    position: relative;
    top: -100px;
    opacity: 0; }
  20% {
    top: 20px;
    opacity: 0.5; }
  100% {
    top: 0;
    opacity: 1; } }

@keyframes headerRight {
  0% {
    position: relative;
    top: -100px;
    opacity: 0; }
  20% {
    top: 20px;
    opacity: 0.5; }
  100% {
    top: 0;
    opacity: 1; } }

.website-logo-link {
  -webkit-animation: logoIn 0.8s;
  -moz-animation: logoIn 0.8s;
  animation: logoIn 0.8s; }
  @media (min-width: 768px) {
    .website-logo-link {
      float: left; } }

.page-header {
  margin-top: 1px;
  margin-bottom: 0;
  background: white; }
  .page-header .page-header__inner {
    margin: 10px; }
    @media (min-width: 600px) {
      .page-header .page-header__inner {
        margin: 0.2em 1em; } }
    @media (min-width: 1025px) {
      .page-header .page-header__inner {
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto; }
        .page-header .page-header__inner:after {
          content: " ";
          display: block;
          clear: both; } }
  .page-header .page-header__left {
    overflow: hidden; }
  .page-header .header__inner-right {
    display: none;
    white-space: nowrap; }
    @media (min-width: 600px) {
      .page-header .header__inner-right {
        text-align: right;
        display: block;
        margin: 0 0 .25em; }
        .page-header .header__inner-right:after {
          content: "";
          display: table;
          clear: both; } }
    .page-header .header__inner-right .font__large.header__block__heading {
      text-align: center;
      font-size: 1rem; }
      @media (min-width: 600px) {
        .page-header .header__inner-right .font__large.header__block__heading {
          text-align: right;
          font-size: 1.5em; } }
    .page-header .header__inner-right .header__inner-right--inner {
      display: none; }
      @media (min-width: 600px) {
        .page-header .header__inner-right .header__inner-right--inner {
          display: block;
          margin: 0 0 .5em; }
          .page-header .header__inner-right .header__inner-right--inner:after {
            content: "";
            display: table;
            clear: both; } }
      .page-header .header__inner-right .header__inner-right--inner i {
        color: #333; }
      .page-header .header__inner-right .header__inner-right--inner .header__inner-right-col.col-one {
        text-align: right; }
      .page-header .header__inner-right .header__inner-right--inner .header__inner-right-col.col-two {
        width: 14.89362%;
        float: left;
        margin-right: 2.12766%; }
      .page-header .header__inner-right .header__inner-right--inner .header__inner-right-col.col-three {
        width: 82.97872%;
        float: right;
        margin-right: 0; }

.navigation {
  background-color: #F69222;
  border-bottom: 2px solid #012561;
  margin-bottom: -1px; }
  .navigation:after {
    content: "";
    display: table;
    clear: both; }

@media (min-width: 600px) {
  .main-menu__wrapper {
    position: relative;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
    .main-menu__wrapper:after {
      content: " ";
      display: block;
      clear: both; } }

ul.main-menu {
  list-style-type: none;
  padding: 0;
  margin: 0; }
  ul.main-menu li {
    display: inline-block;
    padding: 0;
    margin: 0; }
    ul.main-menu li a {
      display: block;
      color: #FFFFFF;
      background: #F69222;
      font-size: .9em;
      padding: 0.5em; }
      @media (min-width: 1025px) {
        ul.main-menu li a {
          font-size: 1.1em;
          padding: 0.5em 1em; } }
      ul.main-menu li a:hover {
        color: #FFFFFF;
        background: #012561; }
  ul.main-menu li.active a,
  ul.main-menu li:hover a {
    color: #FFFFFF;
    background: #012561; }

img {
  max-width: 100%; }

.website-logo {
  max-width: 120px;
  margin: 0 auto; }

.modal label {
  cursor: pointer;
  margin-bottom: 0; }

.modal label img {
  border-radius: 150px;
  display: block;
  max-width: 300px; }

.modal .modal-state {
  display: none; }

.modal .modal-trigger {
  padding: 0.8em 1em; }

.modal .modal-fade-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  opacity: 0;
  padding-top: 0.6em;
  text-align: left;
  transition: opacity 0.25s ease;
  visibility: hidden;
  z-index: 99999999999; }
  @media (min-width: 53.75em) {
    .modal .modal-fade-screen {
      padding-top: 10em; } }
  .modal .modal-fade-screen .modal-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer; }

.modal .modal-close {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  height: 1.5em;
  width: 1.5em;
  background: #fff;
  cursor: pointer; }
  .modal .modal-close::after, .modal .modal-close::before {
    position: absolute;
    top: 3px;
    right: 3px;
    bottom: 0;
    left: 50%;
    height: 1.5em;
    width: 0.15em;
    background: #ddd;
    content: "";
    display: block;
    margin: -3px 0 0 -1px;
    transform: rotate(45deg); }
  .modal .modal-close:hover::after, .modal .modal-close:hover::before {
    background: #c4c4c4; }
  .modal .modal-close::before {
    transform: rotate(-45deg); }

.modal .modal-inner {
  background: #fff;
  border-radius: 3px;
  margin: auto;
  margin-top: 0;
  max-height: 95%;
  overflow: auto;
  padding: 1.5em;
  position: relative;
  transition: opacity 0.25s ease;
  width: 95%; }
  @media (min-width: 40em) {
    .modal .modal-inner {
      max-height: 70%;
      padding: 3em;
      width: 60%; } }
  @media (min-width: 53.75em) {
    .modal .modal-inner {
      width: 50%; } }
  .modal .modal-inner h1 {
    color: #333;
    text-align: left;
    text-transform: capitalize; }
  .modal .modal-inner p {
    color: #333;
    line-height: 1.5em; }
  .modal .modal-inner .modal-intro {
    margin-bottom: 1em; }
  .modal .modal-inner .modal-content {
    color: #333; }
    @media (min-width: 40em) {
      .modal .modal-inner .modal-content {
        columns: 2 8em; } }
  .modal .modal-inner a.cta {
    color: #fff;
    display: inline-block;
    margin-right: 0.5em;
    margin-top: 1em; }
    .modal .modal-inner a.cta:last-child {
      padding: 0 2em; }

.modal .modal-state:checked + .modal-fade-screen {
  opacity: 1;
  visibility: visible; }

.modal .modal-state:checked + .modal-fade-screen .modal-inner {
  top: 0.5em; }

.modal-open {
  overflow: hidden; }

.modal-trigger.terms {
  display: inline-block; }

.page__top-bar_item a {
  color: #F69222; }
  .page__top-bar_item a:hover, .page__top-bar_item a:active {
    color: #FFFFFF; }

.side-block a {
  color: #FFFFFF;
  display: inline-block; }
  .side-block a:hover {
    color: #012561;
    text-decoration: underline; }

.content__left a {
  color: #777620; }
  .content__left a:hover {
    text-decoration: underline; }

.content__left a.button, .content__left a.button-small {
  color: #FFFFFF; }
  .content__left a.button:hover, .content__left a.button-small:hover {
    text-decoration: none; }

.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0; }

.link__jobseekers-signin,
.link__practice-signin {
  font-size: 0.875em; }

.link__jobseekers-signin {
  margin-right: 1em; }

.main-navigation__void:hover,
.main-navigation__void:active {
  cursor: pointer; }

.page__top-bar {
  background: #012561;
  color: #fff;
  font-size: .9em; }
  .page__top-bar .fa {
    position: relative;
    top: 2px;
    margin-right: 0.25em;
    font-size: 1.75em; }
    @media (min-width: 768px) {
      .page__top-bar .fa {
        font-size: 1.375em; } }
  .page__top-bar span {
    display: none; }
    @media (min-width: 768px) {
      .page__top-bar span {
        display: inline-block; } }
  .page__top-bar .page__top-bar_inner {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em 1em; }
    .page__top-bar .page__top-bar_inner:after {
      content: " ";
      display: block;
      clear: both; }
  .page__top-bar .page__top-bar_left {
    display: block; }
    .page__top-bar .page__top-bar_left:after {
      content: " ";
      display: block;
      clear: both; }
    @media (min-width: 768px) {
      .page__top-bar .page__top-bar_left {
        width: 48.93617%;
        float: left;
        margin-right: 2.12766%; } }
    .page__top-bar .page__top-bar_left .page__top-bar_item {
      width: 48.93617%;
      float: left;
      text-align: left; }
      .page__top-bar .page__top-bar_left .page__top-bar_item:nth-child(2n + 1) {
        margin-left: 0;
        margin-right: -100%;
        clear: both;
        margin-left: 0; }
      .page__top-bar .page__top-bar_left .page__top-bar_item:nth-child(2n + 2) {
        margin-left: 51.06383%;
        margin-right: -100%;
        clear: none; }
      .page__top-bar .page__top-bar_left .page__top-bar_item p {
        font-size: 0.875em;
        padding: 0;
        margin: 0;
        color: #F69222; }
        @media (min-width: 768px) {
          .page__top-bar .page__top-bar_left .page__top-bar_item p {
            font-size: 1em; } }
    .page__top-bar .page__top-bar_left .page__top-bar_item:last-child {
      text-align: right; }
  .page__top-bar .page__top-bar_right {
    display: block;
    clear: both; }
    @media (min-width: 768px) {
      .page__top-bar .page__top-bar_right {
        width: 40.42553%;
        float: right;
        margin-right: 0; } }

.page__top-bar_item {
  padding: 0 .25em;
  text-align: center; }

.responsive-menus.responsified span.toggler {
  border-radius: 0;
  padding: 0.5em 1em;
  background: #F69222;
  box-shadow: none; }

.block-search {
  text-align: center;
  max-width: 260px;
  margin: 0 auto 0.5em; }
  .block-search:after {
    content: " ";
    display: block;
    clear: both; }
  .block-search .content {
    background: none; }
    .block-search .content .search-block {
      margin: 0; }
    .block-search .content .form-type-textfield {
      width: 74.46809%;
      float: left;
      margin-right: 2.12766%; }
      .block-search .content .form-type-textfield input[type="text"] {
        width: 100%;
        border: none;
        font-size: .9em; }
    .block-search .content .form-actions {
      width: 23.40426%;
      float: right;
      margin-right: 0; }

.select-style {
  border: 1px solid #ccc;
  width: 120px;
  border-radius: 3px;
  overflow: hidden;
  background: #fafafa url("img/icon-select.png") no-repeat 90% 50%; }

.select-style select {
  padding: 5px 8px;
  width: 130%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none; }

.select-style select:focus {
  outline: none; }

.tables {
  border: 1px solid gainsboro;
  border-collapse: separate;
  border-left: 0;
  border-radius: 3px;
  border-spacing: 0;
  width: 100%; }
  .tables tbody {
    background-color: #fbfbfb; }
    .tables tbody tr:hover > td, .tables tbody tr:hover > th {
      background-color: #eeeeee; }
    .tables tbody tr:nth-child(even) {
      background-color: #f6f6f6; }
      .tables tbody tr:nth-child(even):hover > td {
        background-color: #e9e9e9; }
  .tables thead:first-of-type tr:first-child > th:first-child {
    border-top-left-radius: 3px; }
  .tables thead:first-of-type tr:first-child > th:last-child {
    border-top-right-radius: 3px; }
  .tables tbody:last-child tr:last-child > td:first-child {
    border-bottom-left-radius: 3px; }
  .tables tbody:last-child tr:last-child > td:last-child {
    border-bottom-right-radius: 3px; }
  .tables thead th {
    background-color: white;
    border-bottom: 0;
    border-left: 1px solid gainsboro;
    padding: 0.75em 1em;
    text-align: left; }
    .tables thead th:first-child {
      border-left: 0; }
  .tables tbody {
    background-color: #fbfbfb; }
    .tables tbody td {
      border-bottom: 0;
      border-left: 1px solid gainsboro;
      border-top: 1px solid gainsboro;
      padding: 0.75em .5em; }
      @media (min-width: 600px) {
        .tables tbody td {
          padding: 0.75em 1em; } }
      .tables tbody td:first-child {
        border-left: 0; }
      .tables tbody td button {
        display: inline-block;
        font-size: 0.7em;
        line-height: 1.5em;
        margin-bottom: 0.3em;
        margin-right: 0.5em;
        outline: none;
        padding: 0.3em 1em;
        width: 100%; }
        @media (min-width: 40em) {
          .tables tbody td button {
            margin-bottom: 0;
            width: auto; } }

.tables.centercells td,
.tables.centercells tbody td {
  text-align: center; }

.testimonial-row h4 {
  color: #012561;
  margin: 0;
  font-size: 1rem; }

.testimonial-row p {
  font-style: italic; }
  @media (min-width: 600px) {
    .testimonial-row p {
      font-size: 0.875rem; } }

body {
  font-size: 1em; }
  @media (min-width: 1025px) {
    body {
      font-size: 0.9375em; } }

.button, .button-small {
  display: inline-block;
  color: #FFFFFF;
  background: #012561;
  padding: .5em 1em;
  text-align: center;
  border: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  cursor: pointer;
  color: white; }

.button-small {
  padding: 8px 18px;
  font-weight: normal;
  text-shadow: 0 0 0 #012561; }

.side-block .button, .side-block .button-small {
  display: inline-block;
  color: #FFFFFF;
  background: #012561;
  padding: .5em 1em;
  text-align: center;
  border: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; }

header.header .button, header.header .button-small {
  color: white;
  text-shadow: none;
  box-shadow: none;
  margin: 0.5em 0 0; }

.input__submit-button, .block-search .content .form-actions input[type="submit"] {
  background-color: #F69222;
  color: #FFFFFF;
  border: none;
  font-size: 0.9em;
  padding: 0.5em 1em;
  border-radius: 0 5px 5px 0; }

.site-logo {
  max-height: 140px; }

.clear {
  clear: both; }

.clear-fix:after {
  content: "";
  display: table;
  clear: both; }

.page-title {
  margin: 1em 0 0;
  color: #012561;
  font-size: 1.375em; }
  @media (min-width: 600px) {
    .page-title {
      font-size: 1.5em; } }
  @media (min-width: 1024px) {
    .page-title {
      font-size: 1.5em; } }

h4 {
  margin: 0 0 .5em;
  font-size: 1.5em; }

header.header .header__strapline {
  margin: 0; }

h2.page__title {
  line-height: 1em;
  margin: 0 0 .75em; }

.font__large {
  font-size: 1.5em; }

.text__align-left {
  text-align: left; }

.text__align-right {
  text-align: right; }

@media (min-width: 600px) {
  .form-row .text__align-right {
    text-align: right; } }

@media (min-width: 1024px) {
  .form-row .text__align-right {
    margin-right: 1.5em; } }

.text__align-center {
  text-align: center; }

.header__inner-right-col p {
  font-weight: 400;
  font-size: 1.0625em; }

h4.space {
  margin: 1em 0; }

.error,
.red {
  color: red; }

.blue {
  color: #012561; }

strong {
  font-weight: 700; }

a.themed-link {
  color: #777620; }

body {
  background: #FFFFFF; }
